- @messages = Message.all

.pad-section.background-light
  .container
    .text-center.text-primary.background-light
      %h1
        Admin Dashboard

    .pad
      %h3 Messages
      %br
      .row
        %b
          .col-xs-2 Name
          .col-xs-2 Email
          .col-xs-8 Message

      - @messages.each do | mes |
        %br
        .row
          .col-xs-2= mes.name
          .col-xs-2= mes.email
          .col-xs-8= mes.description
