.container
  %h1.text-primary.text-center.pad-section About Us

#about-content-wrapper.background-image{ style: "background-image: url(#{asset_url('about_background.jpg')})"}
  .container-fluid
    .row
      .col-sm-6

      #about-content.col-sm-6.text-light.background-tint

        %p Find me in app/views/pages/about.html.haml

        %br  
        %p Pug trust fund cardigan, pour-over leggings authentic swag selvage hammock williamsburg freegan banjo fashion axe. Brooklyn pug trust fund brunch. Semiotics flannel cardigan, migas blog roof party trust fund stumptown deep v quinoa. Kombucha etsy food truck, tousled poutine keffiyeh street art. Put a bird on it blue bottle tofu roof party venmo. Vice meggings cliche ugh, four dollar toast health goth 8-bit selfies cred DIY poutine cray pabst. Locavore farm-to-table retro tilde, trust fund church-key meggings pour-over health goth.

        %br
        %p Occupy aesthetic microdosing tilde, keytar food truck pug mlkshk helvetica crucifix. Hashtag 8-bit fingerstache affogato. Heirloom blog lumbersexual aesthetic. Retro everyday carry 8-bit meh, farm-to-table beard sriracha gentrify crucifix fingerstache tumblr. Four loko pour-over master cleanse, celiac 90's etsy literally vegan mumblecore mlkshk direct trade affogato church-key artisan kitsch. YOLO scenester you probably haven't heard of them, dreamcatcher chia wayfarers bicycle rights marfa try-hard portland hammock iPhone. Banh mi chartreuse slow-carb locavore, kombucha squid blog forage.

        %br
        %p Yr flexitarian ramps vice plaid. Pickled chia next level hella kogi waistcoat, squid yuccie. Bicycle rights four loko cliche +1, swag kickstarter PBR&B twee keffiyeh. Put a bird on it cardigan irony, farm-to-table heirloom waistcoat gentrify vegan VHS. Bicycle rights flannel beard, hammock gentrify craft beer literally taxidermy. Hoodie gentrify banjo pinterest, tumblr gochujang beard pop-up drinking vinegar tilde mustache iPhone flexitarian you probably haven't heard of them readymade. Fixie deep v poutine, VHS pinterest pitchfork dreamcatcher yr readymade next level +1 helvetica normcore.
