.container
  %h1.text-primary.text-center.pad-section About Us

#about-content-wrapper.background-image{ style: "background-image: url(#{asset_url('about_background.jpg')})"}
  .container-fluid
    .row
      .col-sm-6

      #about-content.col-sm-6.text-light.background-tint

        %h3 What We Do

        %br
        %b
          %u Charity Events
        %br
        %p We're always up for being a part of a worthy cause. The Lining Starz have been proud to donate their time and talent to numerous charitable events, including Relay for Life, Piedmont Hospital's Move and Groove, and Bert's Big Adventure.

        %br
        %b
          %u Films
        %br
        %p Some of our dancers have been chosen to perform as extras in movies that have been filmed in the Atlanta area. You can see us dancing in the background of Footloose and The Family That Preys!

        %br
        %b
          %u Private Events
        %br
        %p We're available for hire as entertainment for private gatherings. We've worked at events both big and small, including weddings, fund raisers, birthdays and corporate parties.
        %p We also have a cadre of experienced and talented dance instructors, ready to teach line dancing at all levels of ability.

        %br
        %h3
          Need some entertainment?
        %br
        = link_to contact_path do
          .btn.btn-primary
            Contact Us
