%h1.text-primary.text-center.pad-section Dance

#dance-content-wrapper.pad
  .container
    .row.height-group.vertical-parent
      .col-sm-6.height-member.text-primary
        .vertical-child
          %h2.text-center
            Wednesday Night

          .pad
            %p
              Hang out with your friends or make new ones! Great food & drinks with background music from your favorite artists. Wednesday is Industry Night, so if you are in the business bring your server permit or check stub and get 20% off of any food item on the menu.
            %br
            %p
              Line dancing starts at 7PM with a free lesson. The DJ takes requests and plays a variety of Pop, Country, & Hip Hop.
          %b.text-center.text-primary
            = link_to "https://www.google.com/maps/place/Eastside+Station/@33.850076,-84.0707061,13.24z/data=!4m2!3m1!1s0x88f5ba6a2cd5fd33:0xb434a75a3cd0a39e", target: :blank do
              2166 Highpoint Rd, Snellville, GA 30078
      .col-sm-6.height-member
        #dance-map
          = link_to "https://www.google.com/maps/place/Eastside+Station/@33.850076,-84.0707061,13.24z/data=!4m2!3m1!1s0x88f5ba6a2cd5fd33:0xb434a75a3cd0a39e", target: :blank do
            = image_tag("eastside_station_map.png")

        
