#index.background-image-fixed{ style: "background-image: url(#{asset_url('index_background.jpg')})"}
  .pad-section.background-light
    .container
      .text-center.text-primary
        %h1 Welcome to the Lining Starz
  #index-view-port
  .pad-section.background-light
    .container
      .text-center.text-primary
        %h2 We like, we like to party
