#index.background-image-fixed{ style: "background-image: url(#{asset_url('index_background.jpg')})"}
  .pad-section.background-light
    .container
      .text-center.text-primary.background-light
        %h1 Welcome to the Lining Starz
  #index-view-port
  .pad-section.background-light
    .container.container-md
      .text-primary
        .text-center
          %h2 We like, we like to party
          %br
        %p We are a group of guys and gals who love to dance and share our love of dancing with others. Originally formed in 2006 by Rose Haven, the team consists of men and women who are committed to growing the line dance community through exhibitions and lessons. We enjoy dances both old and new to a variety of musical styles, including country, pop, and hip hop.
        %br
        %p We offer exhibitions for a variety of events, as well as group lessons for all ages and abilities. With event experience ranging from small private parties to large exhibitions at concerts and major league baseball games, the Wild Team is able to share our love of dance throughout the  community.
        .text-center
          %br
            = link_to contact_path do
              .btn.btn-primary-outline
                Contact Us
