@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import 'palette';

html, body, input, button, select, textarea, optgroup, option, form, fieldset, table, i, b, p, a, li, tr, td, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  font-size: 72px;
}

img {
  max-width: 100%;
}

a:active, a:visited, a:focus {
  color: inherit;
}

a:hover {
  color: $color_primary_dark;
  background-color: transparent;
  text-decoration: none;
}

.display-none {
  display: none;
}

.pad {
  padding: 20px 20px;
}

.pad-section {
  padding: 100px 0px;
}

.text-light {
  color: $color_light;
}

.text-primary {
  color: $color_primary;
}

.text-secondary {
  color: $color_secondary;
}

.background-light {
  background-color: $color_light;
}

.background-primary {
  background-color: $color_primary;
}

.background-secondary {
  background-color: $color_secondary;
}

.container-md {
  max-width: 700px;
}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
}

.background-image-fixed {
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background-tint {
  background-color: rgba(0, 0, 0, 0.6)
}

#index-view-port {
  min-height: 600px;
}

#about-content {
  float: right;
  padding: 50px;
  margin: 50px 20px;
}

#contact-wrapper {
  padding: 50px 0px 50px 0px;
  background-color: #cccccc;
}

#dance-content-wrapper {
  background-color: #cccccc;
}

#dance-map {
  padding: 50px;
}

footer {
  background-color: $color_secondary;
}

footer p {
  margin: 0px;
  padding: 40px 0px;
  color: $color_light;
}

footer a p:hover {
  color: $color_light_dark;
}

.vertical-child {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
}

/*
########   ######      #######  ##     ## ######## ########  ########  #### ########  ########  ######  
##     ## ##    ##    ##     ## ##     ## ##       ##     ## ##     ##  ##  ##     ## ##       ##    ## 
##     ## ##          ##     ## ##     ## ##       ##     ## ##     ##  ##  ##     ## ##       ##       
########   ######     ##     ## ##     ## ######   ########  ########   ##  ##     ## ######    ######  
##     ##       ##    ##     ##  ##   ##  ##       ##   ##   ##   ##    ##  ##     ## ##             ## 
##     ## ##    ##    ##     ##   ## ##   ##       ##    ##  ##    ##   ##  ##     ## ##       ##    ## 
########   ######      #######     ###    ######## ##     ## ##     ## #### ########  ########  ######  
*/

.alert {
  margin-bottom: 0px; 
  border: none; 
  border-radius: 0px; 
}

.form-control {
  border-radius: 0px;
}

/*NAVIGATION*/

.navbar {
  border-radius: 0;
  margin-bottom: 0px;
}

.navbar-default {
  background-color: $color_primary;
  border-color: $color_primary; 
}

.navbar-default .navbar-brand {
  color: $color_light;
}

.navbar-default .navbar-nav>li>a {
  color: $color_light;
}

.btn {
  border-radius: 0px;
}

.btn-primary {
  background-color: $color_primary;
  border: none;
  padding: 20px 60px;
  font-size: 20px;
  &:hover {
    background-color: white;
    color: $color_primary;
  }
}