%footer
  .container
    .text-right
      - if current_user
        = link_to destroy_user_session_path, :method => :delete, class: "nav-link" do
          %p.fa.fa-sign-out
      - else
        = link_to new_user_session_path, class: "nav-link" do
          %p.fa.fa-star
